EXPRESS_PORT=3000

SUPABASE_URL=https://<project-ref>.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SCHEMA=

CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
CLERK_INVITE_REDIRECT_URL=https://norvia-studio...
CLERK_WEBHOOK_SECRET=

CORS_ORIGIN=http://localhost:4200